<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.3/angular.min.js" charset="utf-8"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js" charset="utf-8"></script>



	<style>
	.description {
	}
	.pointer.card {
		cursor: pointer;
	}
	.card.active {
		border-color: #0275d8;
	}
	.btn {
		cursor: pointer;
	}
	</style>
	<script>
		if (typeof Object.assign != 'function') {
			Object.assign = function(target, varArgs) { // .length of function is 2
				'use strict';
				if (target == null) { // TypeError if undefined or null
					throw new TypeError('Cannot convert undefined or null to object');
				}

				var to = Object(target);

				for (var index = 1; index < arguments.length; index++) {
					var nextSource = arguments[index];

					if (nextSource != null) { // Skip over if undefined or null
						for (var nextKey in nextSource) {
							// Avoid bugs when hasOwnProperty is shadowed
							if (Object.prototype.hasOwnProperty.call(nextSource, nextKey)) {
								to[nextKey] = nextSource[nextKey];
							}
						}
					}
				}

				return to;
			};

			Number.isInteger = Number.isInteger || function(value) {
				return typeof value === 'number' &&  isFinite(value) &&  Math.floor(value) === value;
			};
		}



	</script>
	<script type="text/javascript" src="./calculator.js"></script>
</head>
<body ng-app="buildCalc">

	<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
		<div class="container">
			<div class="row">
				<div class="col-5">
				<a class="navbar-brand" href="#">КАЛЬКУЛЯТОР</a>
				<strong>+7 (4742) 50-51-80</strong>
				</div>
				<div class="col-7 col-md-auto">
				<p class="navbar-text">
					Купить Фанеру, ОСП, ДСП, МДФ, ДВП по цене завода производителя в Липецке.
					Мы работаем как с оптовыми поставками,мелкооптовыми так и в розницу-поскольку склад и офис
					у нас находится территориально в одном месте.
				</p>
				</div>
			</div>
		</div>
	</nav>

	<br>
	<br>
	<br>

	<div class="container" ng-controller="mainController as calculator">
		<h1 class="page-header">
			Строительный калькулятор Фанеры, ДВП, ДСП и ОСП
		</h1>

		<div>
			<br>
			<br>
			<h2>1. Выберите материал</h2>
			<br>
			<div class="card-deck">
				<div ng-repeat="material in materials" style="cursor: pointer;" ng-class="{ active: stage[0].value === $index }" class="card" style="width: 20rem;" ng-click="calculator.setStage($event, 'material', $index)">
					<img width="100%" height="240px" src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==">
					<div class="card-block">
						<h4 class="card-title">{{ material.title }}</h4>
						<!-- <p class="card-text">Какое нибудь описание</p> -->
						<div class="btn btn-block btn-primary">Выбрать</div>
					</div>
				</div>
			</div>
		</div>


		<div ng-show="stage[0].enable">
			<br>
			<br>
			<h2>2. Укажите общую площадь или количество листов</h2>
			<br>

			<div class="card-deck">

				<div ng-class="{active: stage[1].value === 0}" class="card pointer" ng-click="calculator.setComplexStage($event, 'square', 0)">
					<div class="card-block">
						<div class="card-text">
							<label for="square-field" style="text-align: left">
								Площадь
							</label>
							<div class="input-group">
								<input class="form-control" min="1" type="number" form="get-price" step="any" name="square" id="square-field" value="0">
								<div class="input-group-addon">
									<strong>M2</strong>
								</div>
							</div>
						</div>
					</div>

				</div>

				<div style="display: inline-block; padding: 42px 20px;">или</div>

				<div ng-class="{active: stage[1].value === 1}" class="card pointer" ng-click="calculator.setComplexStage($event, 'square', 1)">
					<div class="card-block">
						<label for="square-field" style="text-align: left">
							Количество
						</label>
						<div class="input-group">
							<input class="form-control" type="number" form="get-price"  min="1" name="capacity" id="capacity-field" value="0">
							<div class="input-group-addon">
								<strong>шт</strong>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div ng-show="stage[1].enable">

			<br>
			<br>
			<h2>3. Выберите один размер листа (мм х мм)</h2>
			<br>

			<div href="#" ng-class="{ 'btn-primary': stage[2].value === $index }" class="btn" ng-repeat="size in sizes" ng-click="calculator.setStage($event, 'size', $index)">
				{{ size[0] }} x {{ size[1] }}
			</div>
		</div>


		<div ng-show="stage[2].enable">

			<br>
			<br>
			<h2>4. Выберите толщину листа (мм)</h2>
			<br>

			<div href="#" ng-class="{ 'btn-primary': stage[3].value === $index }" class="btn" ng-repeat="depth in depths" ng-click="calculator.setStage($event, 'depth', $index)">
				{{ depth }}
			</div>
		</div>

		<br>
		<br>

		<div class="card" ng-show="calculator.showResult()">
			<div class="card-block">
				<div class="container-fluid">
					<div class="row">
						<div class="col-6">
						<h2 class="card-title">Результат расчёта</h2>

						<div><strong>Тип материала: </strong> {{ materials[stage[0].value].title }}</div>
						<div><strong>Размер листа: </strong> {{ sizes[stage[2].value].join('x') }} &nbsp; MMxММ</div>
						<div><strong>Толщина листа: </strong> {{ depths[stage[3].value] }} мм</div>
						<div><strong>Количество листов</strong> {{ calculator.calculateCount()  }} шт</div>
						<div><strong>Общий объем</strong> {{  calculator.calculateCapacity() }} м<sup>3</sup></div>
						</div>
						<div class="col-6">
							<form action="/action.php" id="get-price" ng-submit="calculator.submitResult($event)">
								<input type="hidden" name="material" ng-value="materials[stage[0].value].title">
								<h3>Получить стоимость</h3><br />
								<div class="form-group">
									<div class="input-group-lg input-group">
										<input class="form-control" placeholder="Телефон" name="phone" required />
  										<span class="input-group-btn">
											<button type="submit" class="btn btn-primary">Получить</button>
										</span>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<br>
		<br>
		<br>
		<br>
	</div>




</body>
</html>
